<div class="table-container">
  <table>
    @if (showHeader) {
      <thead>
        <tr>
          <th class="select-col">
            <div class="center-content">
              <z-checkbox [checked]="allSelected" (checkChange)="toggleAllItems($event)" />
            </div>
          </th>
          <th class="title-col">{{ 'backlog.title' | translate }}</th>
          @if (visibleColumns.includes('description')) {
            <th class="desc-col">{{ 'backlog.description' | translate }}</th>
          }
          @if (visibleColumns.includes('hypotheses')) {
            <th class="hyp-col">{{ 'backlog.hypotheses' | translate }}</th>
          }
          @if (visibleColumns.includes('comments')) {
            <th class="comm-col">{{ 'backlog.comments' | translate }}</th>
          }
          @if (visibleColumns.includes('moscow')) {
            <th class="moscow-col text-center">{{ 'backlog.moscow' | translate }}</th>
          }
          @if (visibleColumns.includes('scope')) {
            <th class="scope-col text-center">{{ 'backlog.scope' | translate }}</th>
          }
          @if (visibleColumns.includes('profile')) {
            <th class="profile-col text-center">{{ 'backlog.profile' | translate }}</th>
          }
          @if (visibleColumns.includes('chargeType')) {
            <th class="type-col">{{ 'backlog.chargeType' | translate }}</th>
          }
          @if (visibleColumns.includes('effort')) {
            <th class="effort-col text-center">{{ 'backlog.effort' | translate }}</th>
          }
          @if (visibleColumns.includes('cost')) {
            <th class="cost-col">
              {{ 'backlog.cost' | translate }} {{ 'backlog.cost_ht' | translate }}
            </th>
          }
          <th class="actions-col">
            <div class="center-content">
              <img
                src="assets/cat-solid-full.svg"
                alt="Actions"
                width="16"
                height="16"
                style="
                  filter: brightness(0) saturate(100%) invert(40%) sepia(5%) saturate(50%)
                    hue-rotate(200deg) brightness(85%) contrast(90%);
                  opacity: 0.95;
                "
              />
            </div>
          </th>
        </tr>
      </thead>
    }
    <tbody>
      @if (showItems) {
        @for (item of clusterGroup.items; track item.id; let first = $first; let last = $last) {
          <app-backlog-row
            [item]="item"
            [profiles]="profiles"
            [isSelected]="isItemSelected(item.id)"
            [editingCell]="editingCell"
            [itemCost]="getItemCost(item)"
            [itemEffort]="getItemEffort(item)"
            [visibleColumns]="visibleColumns"
            [isFirst]="first"
            [isLast]="last"
            (selectionToggle)="selectionToggle.emit($event)"
            (editStart)="editStart.emit($event)"
            (editSave)="editSave.emit($event)"
            (editCancel)="editCancel.emit()"
            (duplicateItem)="duplicateItem.emit($event)"
            (deleteItem)="deleteItem.emit($event)"
            (moveItemUp)="moveItemUp.emit($event)"
            (moveItemDown)="moveItemDown.emit($event)"
          />
        }
      }
    </tbody>
  </table>
</div>
