<form [formGroup]="form" class="grid flex-1 auto-rows-min gap-4 px-6 pt-2 pb-6">
  <div class="flex flex-col gap-1.5">
    <label
      for="username"
      class="flex items-center gap-2 text-sm font-semibold peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      {{ 'profiles.username' | translate }}
    </label>
    <input z-input id="username" type="text" formControlName="username" />
  </div>
  <div class="flex flex-col gap-1.5">
    <label
      for="name"
      class="flex items-center gap-2 text-sm font-semibold peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      {{ 'profiles.name' | translate }}
    </label>
    <input z-input id="name" type="text" formControlName="name" />
    @if (form.get('name')?.invalid && form.get('name')?.touched) {
    <p class="text-sm text-destructive">{{ 'common.required' | translate }}</p>
    } @if (form.errors?.['nameExists']) {
    <p class="text-sm text-destructive">{{ 'profiles.name_exists' | translate }}</p>
    }
  </div>

  <div class="flex flex-col gap-1.5">
    <label
      for="dailyRate"
      class="flex items-center gap-2 text-sm font-semibold peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      {{ 'profiles.rate' | translate }} (€)
    </label>
    <input z-input id="dailyRate" type="number" formControlName="dailyRate" />
    @if (form.get('dailyRate')?.invalid && form.get('dailyRate')?.touched) {
    <p class="text-sm text-destructive">{{ 'profiles.rate_positive' | translate }}</p>
    }
  </div>

  <div class="flex flex-col gap-1.5">
    <label
      for="scr"
      class="flex items-center gap-2 text-sm font-semibold peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      {{ 'profiles.scr' | translate }} (€)
    </label>
    <input z-input id="scr" type="number" formControlName="scr" />
    @if (form.get('scr')?.invalid && form.get('scr')?.touched) {
    <p class="text-sm text-destructive">{{ 'profiles.rate_positive' | translate }}</p>
    }
  </div>
</form>
